nodered code.txt
[{"id":"45e51084.c9903","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"92343a67.04bf48","type":"rpi-gpio in","z":"45e51084.c9903","name":"","pin":"37","intype":"up","debounce":"25","read":false,"x":130,"y":100,"wires":[["9e0de111.9c685"]]},{"id":"9e0de111.9c685","type":"template","z":"45e51084.c9903","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PAPER BIN STATUS : FULL","output":"str","x":300,"y":100,"wires":[["9d919871.85f9f8"]]},{"id":"9d919871.85f9f8","type":"blynk-ws-out-notify","z":"45e51084.c9903","name":"","client":"a4ca12c8.d9bfc","queue":false,"rate":5,"x":490,"y":100,"wires":[]},{"id":"8f95d88f.ab71e8","type":"rpi-gpio in","z":"45e51084.c9903","name":"","pin":"35","intype":"up","debounce":"25","read":false,"x":120,"y":220,"wires":[["a4d96c48.d4f56"]]},{"id":"a4d96c48.d4f56","type":"template","z":"45e51084.c9903","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PLASTIC BIN STATUS : FULL","output":"str","x":290,"y":220,"wires":[["8b43a48.e881d58"]]},{"id":"8b43a48.e881d58","type":"blynk-ws-out-notify","z":"45e51084.c9903","name":"","client":"a4ca12c8.d9bfc","queue":false,"rate":5,"x":480,"y":220,"wires":[]},{"id":"4071b5d8.f8fa0c","type":"rpi-gpio in","z":"45e51084.c9903","name":"","pin":"33","intype":"up","debounce":"25","read":false,"x":120,"y":340,"wires":[["359ac8fb.892b58"]]},{"id":"359ac8fb.892b58","type":"template","z":"45e51084.c9903","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"METAL BIN STATUS : FULL","output":"str","x":300,"y":340,"wires":[["256e7ea1.e50472"]]},{"id":"256e7ea1.e50472","type":"blynk-ws-out-notify","z":"45e51084.c9903","name":"","client":"a4ca12c8.d9bfc","queue":false,"rate":5,"x":480,"y":340,"wires":[]},{"id":"cec021bc.9a7f","type":"rpi-gpio in","z":"45e51084.c9903","name":"","pin":"31","intype":"up","debounce":"25","read":false,"x":120,"y":440,"wires":[["e2095df3.c9d37"]]},{"id":"e2095df3.c9d37","type":"template","z":"45e51084.c9903","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"MEDICAL  BIN STATUS : FULL","output":"str","x":290,"y":440,"wires":[["c169a111.bff72"]]},{"id":"c169a111.bff72","type":"blynk-ws-out-notify","z":"45e51084.c9903","name":"","client":"a4ca12c8.d9bfc","queue":false,"rate":5,"x":480,"y":440,"wires":[]},{"id":"a4ca12c8.d9bfc","type":"blynk-ws-client","name":"","path":"ws://blynk-cloud.com/websockets","key":"2l4l3awwjs7as-bAALaTM3j_5MIDNEHS","dbg_all":true,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true}]